<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="sessionName">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.sessionName}}<mat-icon *ngIf="element._links.admin">supervisor_account</mat-icon></mat-cell>
    </ng-container>

    <!-- Links Column -->
    <ng-container matColumnDef="_links">
      <mat-header-cell *matHeaderCellDef> Hyperlinks </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-chip-list>
          <mat-chip *ngFor="let key of objectKeys(element._links)"
              [color]="key == 'game' ?  'primary': (key == 'self' && element.name == me) ? 'accent' : 'default'" selected="true"
              [routerLink]="'/info/' + element._links[key].href"> {{key}} </mat-chip>
        </mat-chip-list>
       </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
