<div [formGroup]="chat">
  <mat-form-field>
    <mat-select placeholder="player to receive" formControlName="receiverId">
      <mat-option value="" *ngIf="me._links.game">
        to all of session {{me._links.game.href}}
      </mat-option>
      <mat-option *ngFor="let player of (players$ | async)" [value]="player._links.self.href.substr(player._links.self.href.lastIndexOf('/')+1)">
        {{ player.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="message to be sent" formControlName="message" required>
    <mat-error *ngIf="chat.controls.message.invalid && chat.controls.message.errors.minlength">
      name requires minimum of {{chat.controls.message.errors.minlength.requiredLength }} characters
    </mat-error>
    <mat-error *ngIf="chat.controls.message.invalid && chat.controls.message.errors.maxlength">
      name requires maximum of {{chat.controls.message.errors.maxlength.requiredLength }} characters
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="accent" [disabled]="chat.invalid" (click)="send()">Send</button>
</div>
<ul>
  <li *ngFor="let msg of (messages$ | async)">
    {{ msg.sender }} - {{msg.message}}
  </li>
</ul>
