.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mat-expansion-panel {
  max-width: 500px;

}
.mat-expansion-panel-header-description {
  flex-basis: 0;
  justify-content: space-between;
  align-items: center;
}
