  <ng-container *ngIf="me">
    <button mat-icon mat-raised-button color="primary" [matMenuTriggerFor]="rootMenu">
      <mat-icon>more_vert</mat-icon>
      <span>Open Menu</span>
    </button>
    <mat-menu #rootMenu="matMenu">
      <button mat-menu-item [routerLink]="me._links.self.href">
        <mat-icon>account_circle</mat-icon>
        <span>About Me</span>
      </button>
      <button mat-menu-item routerLink="/sessions">
        <mat-icon>videogame_asset</mat-icon>
        <span>Games</span>
      </button>
      <button mat-menu-item routerLink="/players">
        <mat-icon>recent_actors</mat-icon>
        <span>Players</span>
      </button>
      <button mat-menu-item routerLink="/chat">
        <mat-icon>chat</mat-icon>
        <span>Chat</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="turnMenu" *ngIf="me._links.game">
        <mat-icon>play_arrow</mat-icon>
        <span>My Game</span>
      </button>
    </mat-menu>

    <mat-menu #turnMenu="matMenu">
      <button mat-menu-item>Shut down</button>
      <button mat-menu-item>Restart</button>
      <button mat-menu-item *ngIf="me._links.admin">Administrate Game</button>
    </mat-menu>

    <button *ngIf="!me || true" mat-icon mat-raised-button routerLink="/login">
      <mat-icon>get_app</mat-icon>
      <span>Login</span>
    </button>
    <button *ngIf="me.privateId" mat-icon mat-raised-button (click)="logout()">
      <mat-icon>exit_app</mat-icon>
      <span>Logout</span>
    </button>
  </ng-container>
  <!-- <ng-container *ngIf="debug">
    <button mat-button (click)="test()">test</button> <input [value]="returnUrl" (change)="returnUrl = $event.target.value"/>
    <button mat-button (click)="loadAll()">all</button>
    <button mat-button (click)="loadPlayers()">players</button>
    <button mat-button (click)="loadSessions()">sessions</button>
  </ng-container> -->
